## **ASSIGNMENT-1**
**Name**: Dasari Deekshitha

**Reg.No:** 21BCE6058

**Email:** dasari.deekshitha2021@vitstudent.ac.in

**Campus:** VIT Chennai

In [2]:
import pandas as pd
import numpy as np

ModuleNotFoundError: No module named 'pandas'

**Task - 1 :** Create a pandas dataframe

(DataFrame name as 'df')

(10 observation and 5 features)

In [18]:
data = {
    'Name': ['Deekshitha', 'Teja', 'Sai', 'Bablu', 'Bunty', 'Lucky', 'Mahathi', 'Renu', 'Divya', 'Sindhu'],
    'Age': [18, 39, 12, 58, 14, 35, np.nan, 16, 26, 42],
    'Gender': ['Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Female', 'Female', 'Female'],
    'Campus':['Chennai','Bhopal','Vellore','Chennai','Chennai',np.nan,'Vellore','Vellore','Chennai','Bhopal'],
    'Weight_kg': [45, 50, np.nan, 72, 50, 95, 48, 58, 63, np.nan]
}

In [19]:
df = pd.DataFrame(data)

In [20]:
df

         Name   Age  Gender   Campus  Weight_kg
0  Deekshitha  18.0  Female  Chennai       45.0
1        Teja  39.0    Male   Bhopal       50.0
2         Sai  12.0    Male  Vellore        NaN
3       Bablu  58.0    Male  Chennai       72.0
4       Bunty  14.0    Male  Chennai       50.0
5       Lucky  35.0    Male      NaN       95.0
6     Mahathi   NaN  Female  Vellore       48.0
7        Renu  16.0  Female  Vellore       58.0
8       Divya  26.0  Female  Chennai       63.0
9      Sindhu  42.0  Female   Bhopal        NaN

**Task- 2 :** Check the info of 'df'

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       10 non-null     object
 1   Age        9 non-null      float64
 2   Gender     10 non-null     object
 3   Campus     9 non-null      object
 4   Weight_kg  8 non-null      float64
dtypes: float64(2), object(3)
memory usage: 528.0+ bytes

**Task - 3 :** Check the descriptive statistics of 'df'

In [22]:
df.describe()

             Age  Weight_kg
count   9.000000   8.000000
mean   28.888889  60.125000
std    15.648039  16.694203
min    12.000000  45.000000
25%    16.000000  49.500000
50%    26.000000  54.000000
75%    39.000000  65.250000
max    58.000000  95.000000

**Task - 4 :** check the 4th index observation with 'loc' slicing operator.

In [23]:
df.loc[4]

Name           Bunty
Age             14.0
Gender          Male
Campus       Chennai
Weight_kg       50.0
Name: 4, dtype: object

**Task - 5 :**  Check the null values in your 'df'

In [24]:
df.isnull().any()

Name         False
Age           True
Gender       False
Campus        True
Weight_kg     True
dtype: bool

In [25]:
df.isnull().sum()

Name         0
Age          1
Gender       0
Campus       1
Weight_kg    2
dtype: int64